name: Build and Push Docker Image

on:
  push:
    branches: [ main ]  # You can change this to 'develop' or others

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: messaging_app/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/messaging_app:latest
